html,
body {
	color: var(--colortext);
	background-color: var(--bgcolor);
	display: flex;
	min-height: 100vh;
	min-width: 320px;
	flex-direction: column
}

main {
	flex: 1 0 auto;
}

* {
	outline: 0 !important
}

body[data-theme=light] {
	--bgcolor: #e9e9e9;
	--bgcolor2: white;
	--bgcolorscroll: #ededed;
	--colortext: black;
	--footerbg: #00897b;
	--footercopyright: #007267;
	--footerlink: white
}

body[data-theme=dark] {
	--bgcolor: #181f29;
	--bgcolor2: #2d3541;
	--bgcolorscroll: #212731;
	--colortext: white;
	--footerbg: #2a3342;
	--footercopyright: #242b38;
	--footerlink: #0697bc
}

#preloader {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute
}

.d-block {
	display: block
}

.c-pt {
	cursor: pointer
}

.us-none {
	user-select: none;
	-webkit-user-select: none
}

.bgcolor,
.user-view,
.card-action {
	background-color: var(--bgcolor) !important
}

.btn,
.btn:focus,
nav {
	background-color: #00897b
}

.btn:hover,
.bgcoloractive {
	background-color: #00524b
}

a.btn:hover {
	background-color: #00524b !important
}

.card-image,
.card-panel,
.card-stacked,
.sidenav {
	background-color: var(--bgcolor2)
}

.footer-link {
	color: var(--footerlink)
}

footer {
	background-color: var(--footerbg) !important
}

.footer-copyright {
	background-color: var(--footercopyright) !important
}

.text,
.name,
.email {
	color: var(--colortext) !important
}

.description {
	color: var(--colortext);
	font-size: 15px;
	margin: -5px 0 0 32px
}

.btn-flat {
	font-size: 13.5pt
}

.btn-flat:focus {
	background-color: unset
}

.btn-flat,
.card-action a,
p a {
	font-weight: 600;
	color: #009688 !important
}

.spinner-layer {
	border-color: #00524b
}

@media (min-width: 768px) {
	.card-image {
		width: 250px
	}
}

@media (max-width: 1023px) {
	* {
		cursor: default !important
	}
}

@media (min-width: 1024px) {
	::-webkit-scrollbar {
		height: 6px;
		width: 6px
	}

	::-webkit-scrollbar-thumb {
		background-color: #00897b
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #00524b
	}

	::-webkit-scrollbar-track {
		background-color: var(--bgcolorscroll)
	}
}
